language: java
jdk:
  - openjdk14

sudo: false

script: "mvn cobertura:cobertura"

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - mallet322@gmail.com
    on_success: never # default: change
    on_failure: always # default: always

env:
  global:
    - CODECOV_TOKEN='dbdd996a-7d2c-41b2-9242-158a88fa0d48'